body {
	margin: 0;
	padding: 0;
	background-size: 100%;
	background-color: bisque;
	color: black;
	font-family: helvetica, sans-serif;
}
main {
	padding: 1em;
	font-size: 2em;
}
h1 {
	font-size: 3em;
	font-weight: 400;
	margin: 0;
}
p {
	margin: 0;
	padding-bottom: 1em;
	opacity: 0.2;
}
img {
	display: block;
	margin-left: auto;
	margin-right: auto;
	width: 30%;
}
